
@{
    ViewBag.Title = "GiveGrade";
}

<h2>GiveGrade</h2>



<div class="">
    <ul class="">
        <li>@Html.ActionLink("AddAssignmet", "AddAssignment", "Home")</li>
        <li>@Html.ActionLink("ChooseCourse", "ChooseCourse", "Home")</li>
        <li>@Html.ActionLink("DeleteAssignment", "DeleteAssignment", "Home")</li>
        <li>@Html.ActionLink("GiveGrade", "GiveGrade", "Home")</li>
    </ul>
</div>